* {
    margin: 0;
    padding: 0;
    border: none;
}


/* make image responsive*/
#responsive {
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
 
    
}    

/*add poloroid border to head image with shadow, background colour and top padding*/
  div.polaroid {
    padding-top: 5px;
    width: 100%;
    background-color: goldenrod;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

div.container {
    text-align: center;
   
  
  }

/* add style to logo*/
#logo {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 370%;
    font-weight: 700;
    color: rgb(48, 47, 47);
    letter-spacing: -2px;    
}

/*add style to menu*/
#menu{
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
}

#menu li {
 list-style-type: none;
 padding-right: 2%;
 padding-left: 2%;
 background-color: grey; 
 display: inline;
}

#menu a {
  text-decoration: none;
  color:rgb(48, 47, 47);
}

.active {
  border-bottom: 1px solid rgb(48, 47, 47);
} 

/*add style to body */
body {
    background-color:lightgray  ;
    color:black;
}

/* add structure to body */
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
}
/*structure and style body content*/
h2 {
  text-align: center;
  text-decoration: none;
  color: black;

}

section {
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: block;
}

.couple {
  width: 200px;
  height: 300px;
  align-items: flex-end;
  display:block;

}